{% set route = app.request.attributes.get('_route') %}

<li>
    <a href="{{ path('user_place') }}" {% if route matches '/^user_place$/' %}class="active"{% endif %}>
        <i class="fa fa-dashboard fa-fw"></i> {{ 'My places'|trans }}
    </a>
</li>
